In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
    "Data":[
        "Title","Director","Country","Release_Year"
    ],
    "listed_in":[
        123,2341,123,7676
    ]
})
df

           Data  listed_in
0         Title        123
1      Director       2341
2       Country        123
3  Release_Year       7676

In [ ]:
df.columns

Index(['Data', 'listed_in'], dtype='object')

In [ ]:
df.size

8

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
data = ["Movies", "International", "Various", "1980-2010"]
df["new_column"] = data
df

           Data  listed_in     new_column
0         Title        123         Movies
1      Director       2341  International
2       Country        123        Various
3  Release_Year       7676      1980-2010

In [ ]:
df['check'] = 1
df

           Data  listed_in     new_column  check
0         Title        123         Movies      1
1      Director       2341  International      1
2       Country        123        Various      1
3  Release_Year       7676      1980-2010      1

In [ ]:
df.head(n = 2)

       Data  listed_in     new_column  check
0     Title        123         Movies      1
1  Director       2341  International      1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        4 non-null      object
 1   listed_in   4 non-null      int64
 2   new_column  4 non-null      object
 3   check       4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [ ]:
df.loc[1]

Data               Director
listed_in              2341
new_column    International
check                     1
Name: 1, dtype: object

In [ ]:
df.Data

0           Title
1        Director
2         Country
3    Release_Year
Name: Data, dtype: object

In [ ]:
df[["Data", "check","check"]]

           Data  check  check
0         Title      1      1
1      Director      1      1
2       Country      1      1
3  Release_Year      1      1

In [ ]:
df["listed_in"].mean()

2565.75

In [ ]:
df1 = pd.DataFrame({
    "Data":[
        "Title","Director","Country","Release_Year"
    ],
    "Numbers":[
        100,80,50,2010
    ]
}, index = ['A','B','C','D'])
df1

           Data  Numbers
A         Title      100
B      Director       80
C       Country       50
D  Release_Year     2010

In [ ]:
df1['Numbers'].mean()

560.0

In [ ]:
df

           Data  listed_in     new_column  check
0         Title        123         Movies      1
1      Director       2341  International      1
2       Country        123        Various      1
3  Release_Year       7676      1980-2010      1

In [ ]:
x = pd.melt(df.reset_index(), id_vars="index", value_name=["Data","now_column"])
x

TypeError: ignored

In [ ]:
df1.set_index("Numbers")

                 Data
Numbers
100             Title
80           Director
50            Country
2010     Release_Year

In [ ]:
df2 = pd.Series(["Good","Bad","Neutral"], index=['A','B','C'])
df3 = pd.Series(np.random.rand(10),index=list(range(1,11)))

In [ ]:
df2

A       Good
B        Bad
C    Neutral
dtype: object

In [ ]:
df3

1     0.980998
2     0.533951
3     0.763973
4     0.657432
5     0.809643
6     0.171188
7     0.435514
8     0.579569
9     0.649012
10    0.260825
dtype: float64

In [ ]:
df4 = pd.read_csv('/content/data.csv')
df4.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        4 non-null      object
 1   listed_in   4 non-null      int64
 2   new_column  4 non-null      object
 3   check       4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [ ]:
df4.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
df4.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5218,s5219,Movie,Belief: The Possession of Janet Moses,David Stubbs,"Kura Forrester, William Davis, Tina Cook, Hari...",New Zealand,"October 15, 2017",2015,TV-MA,90 min,"Documentaries, International Movies","This documentary tries to reconstruct, through..."
7105,s7106,Movie,It's Now or Never,Maria Ripoll,"Dani Rovira, María Valverde, Jordi Sánchez, Jo...",Spain,"March 1, 2016",2015,TV-MA,91 min,"Comedies, International Movies, Romantic Movies","When Eva and Alex decide to wed in England, wh..."
2605,s2606,Movie,Ekşi Elmalar,Yılmaz Erdoğan,"Yılmaz Erdoğan, Farah Zeynep Abdullah, Songül ...",Turkey,"April 29, 2020",2016,TV-PG,109 min,"Dramas, International Movies","In an eastern Turkish town, suitors knock on t..."
7405,s7406,Movie,Mark Gatiss: A Study in Sherlock,Nathan Landeg,"Benedict Cumberbatch, Martin Freeman, Una Stub...",NaN,"May 1, 2016",2016,TV-14,29 min,Movies,"Mark Gatiss, who co-created “Sherlock” and pla..."
7336,s7337,Movie,Look Who's Back,David Wnendt,"Oliver Masucci, Fabian Busch, Christoph Maria ...",Germany,"April 9, 2016",2015,NR,116 min,"Comedies, International Movies",When Adolf Hitler reawakens at the site of his...

In [ ]:
d = df4[["title","type"]].groupby(["type"])